table{
	background-color: #009688;
	padding: 10px;
}

.rowResult_1301164045{
	background-color: #424242;
}

.rowResult_1301164045 td{
	font-size: 35px;
	text-align: right;
	font-weight: bold;
}

button{
	margin: 5px;
	padding: 10px 15px 10px 15px;
	border-radius: 4px;
	background-color: black;
	color: white;
	font-size: 20px;
	border: none;
	box-shadow: 1px 3px #888888;
}


.btnOper_1301164045{
	background-color: #424242;
}


#btnResult_1301164045{
	background-color: #64DD17;
}

#btn0_1301164045 button{
	width: 90%;
	margin-right: 5px;
}